@font-face {
  font-family: "alagard_by_pix3m-d6awiwp";
  src: url(resources/fonts/alagard_by_pix3m-d6awiwp.ttf);
}

*,
*:active,
*:focus,
*:hover,
*:enabled,
*:default,
*:target,
*:link {
  cursor: url(resources/ActionIcons/QuillCursor2.png), auto;
  font-family: "alagard_by_pix3m-d6awiwp";
}

body {
  background: #000;
}

input:active {
  outline: yellow;
}

button {
  background: none;
  border: none;
}

.container {
  margin: 100px auto;
  height: 600px;
  width: 800px;
  position: relative;
  font-family: "alagard_by_pix3m-d6awiwp";
}

html a:hover {
  cursor: url(resources/ActionIcons/QuillCursor2.png), auto;
}

#canvas, canvas {
  z-index: -1;
  cursor: none;
}

#canvas:active {
/*  cursor: url(resources/ActionIcons/QuillCursor.png), auto;*/
}

#bs {
  position: absolute;
  top: 197px;
  left: 180px;
  width: 205px;
  height: 60px;
  z-index: -10;
/*  visibility: hidden;*/
}

#gran {
  position: absolute;
  top: 262px;
  left: 180px;
  width: 205px;
  height: 75px;
  z-index: 0;
  visibility: hidden;
}

#lm {
  position: absolute;
  top: 340px;
  left: 180px;
  width: 205px;
  height: 70px;
  z-index: 0;
  visibility: hidden;
}

#apoth {
  position: absolute;
  top: 413px;
  left: 180px;
  width: 205px;
  height: 75px;
  z-index: 0;
  visibility: hidden;
}

/* button must be positioned with px */
#bsButton {
  margin: 10px 8px;
  position: absolute;
  top: 380px;
  left: 467px;
  visibility: hidden;
}

#granButton {
  margin: 10px 8px;
  position: absolute;
  top: 380px;
  left: 467px;
  visibility: hidden;
}

#lmButton {
  margin: 10px 8px;
  position: absolute;
  top: 380px;
  left: 467px;
  visibility: hidden;
}

#apothButton {
  margin: 10px 8px;
  position: absolute;
  top: 380px;
  left: 467px;
  visibility: hidden;
}

#bsPlus{
  font-size: 15px;
  padding: 10px;
  margin-left: 8px;
  z-index: 0;
  position: absolute;
  top: 351px;
  left: 569px;
  visibility: hidden;
}

#bsMinus {
  font-weight: bolder;
  font-size: 15px;
  padding: 10px;
  margin-left: 15px;
  z-index: 0;
  position: absolute;
  top: 351px;
  left: 592px;
  visibility: hidden;
}

#granPlus {
  font-size: 15px;
  padding: 10px;
  margin-left: 8px;
  z-index: 0;
  position: absolute;
  top: 351px;
  left: 569px;
  visibility: hidden;
}

#granMinus {
  padding: 10px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: bolder;
  z-index: 0;
  position: absolute;
  top: 351px;
  left: 592px;
  visibility: hidden;
}

#lmPlus {
  font-size: 15px;
  padding: 10px;
  margin-left: 10px;
  z-index: 0;
  position: absolute;
  top: 351px;
  left: 569px;
  visibility: hidden;
}

#lmMinus {
  padding: 10px;
  margin-left: 17px;
  font-size: 15px;
  font-weight: bolder;
  z-index: 0;
  position: absolute;
  top: 351px;
  left: 592px;
  visibility: hidden;
}

#apothPlus {
  font-size: 15px;
  padding: 10px;
  margin-left: 10px;
  z-index: 0;
  position: absolute;
  top: 351px;
  left: 569px;
  visibility: hidden;
}

#apothMinus {
  padding: 10px;
  margin-left: 17px;
  font-size: 15px;
  font-weight: bolder;
  z-index: 0;
  position: absolute;
  top: 351px;
  left: 592px;
  visibility: hidden;
}

#startButton {
  color: white;
  background: none;
  border: 2px solid white;
  font-family: 'alagard_by_pix3m-d6awiwp';
  font-size: 28px;
  z-index: 10;
  position: absolute;
  top: 156px;
  left: 417px;
  visibility: visible;
  height: 50px;
  width: 150px;
}

#nextDayButton {
  border: none;
  position: absolute;
  z-index: 0;
  height: 140px;
  width: 140px;
  top: 15px;
  left: 620px;
  visibility: hidden;
}

.blur {
  background-color: gray;
  opacity: .6;
}

#openScroll {
  position: absolute;
  font-family: "alagard_by_pix3m-d6awiwp";
  width: 60%;
  height: 450px;
  top: 70px;
  left: 150px;
  background-color: #ECDFCF;
  border: 3px solid black;
  border-radius: 4px;
  opacity: .95;
  z-index: 0;
  visibility: hidden;
}

#label {
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
}

#report {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  
}

#introText {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  
}

#rawMats {
  position: absolute;
  float: right;
  left: 30px;
  padding: 5px;
  font-size: 25px;
}

#consumables {
  position: absolute;
  float: left;
  right: 65px;
  padding: 5px;
  margin: 0 auto;
  font-size: 25px;
}

#rawMats ul,
#consumables ul {
  list-style: none;
}

#closeScroll {
  position: absolute;
  z-index: 0;
  visibility: hidden;
  top: 10px;
  right: 10px;
  border: none;
  height: 20px;
  width: 20px;
  font-size: 20px;
}

