/* desktop */
.grid-1  { width: 100%; }
.grid-2  { width: 50%; }
.grid-3  { width: 33%; }
.grid-4  { width: 25%; }
.grid-5  { width: 20%; }
.grid-6  { width: 16.6666666667%; }
.grid-7  { width: 14.2857142857%; }
.grid-8  { width: 12.5%; }
.grid-9  { width: 11.1111111111%; }
.grid-10 { width: 10%; }
.grid-11 { width: 9.09090909091%; }
.grid-12 { width: 8.33%; }

/* mobile */
@media (max-width: 480px) {
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 {
    width: 100%;
  }
}
