@import "partials/typography";

.calendarWrap {
    background-color: $pageWrapBg; }

.calendarContainer {
    margin: 0 auto;
    width: 100%; }

.datesContainer {
    border: 1px solid black;
    margin: 0 auto;
    padding-bottom: 1em;
}

// main class for date nodes
.dateNodeWrap {
    text-align: left;
    margin: 0 auto;
    width: 14.2857143%;
    height: 8em;
    display: inline-block;
    padding: 1em;
    font-family: $dateNodeFont;
    font-weight: $dateNodeFontWeight;
    font-size: $dateNodeFontSize;
    background-color: $dateNodeBg;
    border: 1px dashed black;}

.displaceDateNodeWrap {
    margin: 0 auto;
    width: 14.2857143%;
    height: 8em;
    display: inline-block;
    border: 1px dashed black;
    padding: 1em;
    font-family: $dateNodeFont;
    font-weight: $dateNodeFontWeight;
    font-size: $dateNodeFontSize;
    background-color: $displaceNodeBg;
    color: $displaceNodeBg; }
