@import "partials/base";
@import "partials/typography";

$h1FontSize: 6em;
$h2FontSize: 5em;

.headingContainer {
    margin: 0 auto;
    max-width: 100%;
}

.headingInfo {
    position: relative;
    top: 12em;
    margin: 0 auto;
    width: 60%;
}

.dayLabelContainer {
    margin: 0 auto;
    min-width: 100%;
    border: 1px dashed black;
    clear: both;
}

.monthInfo {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: $headingFont;
    font-weight: $headingFontWeight;
    font-size: $h1FontSize;}

.yearInfo {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: $headingFont;
    font-weight: $headingFontWeight;
    font-size: $h2FontSize;}
