/* grid */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #000;
    color: #888;
	font: 100%/1.5em "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.row {
	background: #141414;
	float: left;
	clear: both;
	width: 100%;
	border-bottom: .5em solid #4D4D4D;

}

.container .columns {
	float: left;
	margin: 0 0 1em;
	text-align: center;
}

.container .columns.one,
.container .columns.two,
.container .columns.three,
.container .columns.four,
.container .columns.five,
.container .columns.six,
.container .columns.seven,
.container .columns.eight,
.container .columns.nine,
.container .columns.ten,
.container .columns.eleven,
.container .columns.twelve,
.container .columns.thirteen,
.container .columns.fourteen,
.container .columns.fifteen,
.container .columns.sixteen 	{  width: 100%;		}

.container {
	width: 100%;
}


.clearfix:after,
.container:after {
	content: '';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;	
}

.clearfix,
.container {
	zoom: 1;
}

/* media queries*/

@media screen and (min-width: 480px) {

	.container .columns.one 		{ width: 6.25%;		}
	.container .columns.two 		{ width: 12.5%;		}
	.container .columns.three 		{ width: 18.75%;	}
	.container .columns.four 		{ width: 25%;    	}
	.container .columns.five 		{ width: 33.333333%;}
	.container .columns.six 		{ width: 37.5%;    	}
	.container .columns.seven 		{ width: 43.75%;    }
	.container .columns.eight 		{ width: 50%;    	}
	.container .columns.nine 		{ width: 56.25%;    }
	.container .columns.ten 		{ width: 62.5%;    	}
	.container .columns.eleven 		{ width: 68.75%;    }
	.container .columns.twelve 		{ width: 75%;    	}
	.container .columns.thirteen 	{ width: 81.25%;    }
	.container .columns.fourteen 	{ width: 87.5%;    	}
	.container .columns.fifteen 	{ width: 93.75%;    }
	.container .columns.sixteen 	{ width: 100%;		}
	
	/* container specs for larger screens */
	.container {
		width: 90%;
		margin: 0 auto;
	}
	
	.columns.five {
		padding: 0 1%;
		margin-top: 2em;
	}

	.columns.eight {
		float: right;
	}

}

/* typography */

p {
	color: #fff;
}

h1, h2, h3, h4 {
	color: #648880;
}

h1, h3, h4, h5, p {
	margin-bottom: 22px;
}

h1 {
	font-size: 36px;
	line-height: 44px;
}

h2 {
	font-size: 24px;
	line-height: 44px;
}

h3 {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

h4 {
	font-size: 18px;
}

h5 {
	color: #a9b2b9;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
}

strong {
	font-weight: 400;
}

cite,
em {
	font-style: italic;
}

/* links */

a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

/* primary header */

header {
	border-top: .5em solid #4D4D4D;
	border-bottom: .5em solid #4D4D4D;
}

.logo {
  text-align: center;
  font-size: 7em;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 100px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}

.primary-nav{
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
	text-align: center;

}

.primary-nav ul li{
	margin: 0 1em;
	border-bottom: .5em solid #648880;
	display: inline-block;
	padding: 8px 24px;
	font-weight: 400;
  	text-transform: uppercase;
  	letter-spacing: .2em;
  	text-align: center;

}


/* intro */

.intro {
	margin: 0 auto;
	color: #fff;
}


/* footer */

.social-buttons {
	display: inline-block;
	padding-top: 8px;
	padding-right: 5px;
}
.social-buttons li {
	display: inline-block;

}
.primary-footer {
	margin: 50px auto;
	padding: 20px 0;
	border-top: 1px solid #D6D6D6;
	color: gray;
}

.primary-footer small {
	padding-top: 8px;
	display: inline-block;
	float: right;
}