/* grid */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #141414;
	font: 100%/1.5em "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

.row {
	padding: 1em;
	float: left;
	clear: both;
	width: 100%;
	border-bottom: .1em solid #fff;

}

.container .columns {
	float: left;
}

.container {
	width: 100%;
}

/* custom styles */


.container .center {
	margin: 0 auto;
}


/* clearfix */

.clearfix:after,
.container:after, {
	content: '';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;	
}

.clearfix,
.container {
	zoom: 1;
}


/* header */

.navbar {
	padding: 1em;
	border-bottom: .5em solid #4B73D1;
	background: #1e1e1e;
	overflow: hidden;
	opacity: 0.8;
}

.logo {
	display: inline-block;
	float: left;
	text-transform: uppercase;
	font-size: 2em;
}

.navbar-links {
	float: right;
}

.navbar-links ul li {
	font-size: 1em;
	display: inline-block;
}


/* hero */

.hero {
	border-bottom: .1em solid #fff;
}

.hero-text {
	text-align: center;
	font-weight: 600;
	color: #fff;
}

/* upcoming */
.upcoming {
	background: #1e1e1e;
	padding-top: 1em;
	padding-bottom: 2em;
	border-bottom: .1em solid #fff;
}
.upcoming table {
	width: 100%;
	margin: 1em auto;
	border-collapse: collapse;
}

.upcoming table tr {
	border-bottom: .1em solid #3D948A;
}

.upcoming table th {
	color: #4BB9D1;
}

.upcoming table td {
	text-align: center;
	padding: 1em;
}

/* new video */

.new-video {
	padding-top: 1em;
	padding-bottom: 2em;
	border-bottom: 1px solid #fff;
}

.new-video iframe {
	margin: 0 auto;
	width: 100%;
	height: 500px;
}

.video-wrap {
	margin: 0 auto;
}

/* footer */

.foot-section {
	background: #1e1e1e;
	padding-bottom: 3em;
}

.foot-nav {
	float: left;
}

.foot-nav ul li {
	display: inline-block;
}

.attribution {
	float: right;
}

/* links */

a {
	text-decoration: none;
	color: #4BD1C1;
}


/* typography */

h1 {

	text-transform: uppercase;
	text-align: center;
	color: #4BD1C1;
	padding-bottom: 1em;
}

