// http://www.google.com/fonts/#ChoosePlace:select/Collection:Playfair+Display|Josefin+Slab|Droid+Serif|Bree+Serif|Alegreya|Amatic+SC

// dayLabel font
$dayLabelFont: 'Josefin Slab';
$dayLabelFontWeight: 400;

// heading font
$headingFont: 'Lora';
$headingFontWeight: 700;

// dateNode font
$dateNodeFont: 'Old Standard TT';
$dateNodeFontWeight: 400;
$dateNodeFontSize: 2em;
